@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #7a28cd;
}

.trolls {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    background-color: black;


}
/*
p {
  color: #F7F0F5;
  text-align: center;
}
button{
  border-radius: 100%;
  color: #F7F0F5;
}

.buttons {
  padding-top: 10%;
  width: 100%;
  height: 3rem;
  display: inline-grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  justify-content: space-evenly;
}

.start {
  padding-top: 5%;
  display: grid;
  width: 100%;
  grid-template-rows: 4rem;
  justify-content: center;
}

#play {
  background-color: #FC60A8;
  color: #F7F0F5;
  border-radius: 3rem;
  width: 7rem;
}

#P {
    background-color: #59C9A5;
     color: #343434;
}
#B {
    background-color: #343434;
}
#F {
    background-color: #FC60A8;
}
#V {
    background-color: #343434;
}
#JD {
    background-color: #59C9A5;
    color: #343434;
}

.flexImg {
  display: flex;
  justify-content: center;
  height: 5rem;
  object-fit: contain;
}
*/