<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Troll Talk</title>
</head>
<body>
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <img src="static/TrollTalk Logo.png" alt="" width="40" height="40">
    </a>
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <p>Troll Talk</p>
    </a>
    <p>{{request.user}}</p>
    {% if request.user.is_authenticated %}
        <a href = "{% url 'logout-user' %}">Logout</a>
    {% endif %}
<!--<img src="../../../trolltalk.png" alt="Troll Talk" class="flexImg">-->
  <br>
  <div class="buttons">
    <button id="P">Poppy</button>
    <button id="B">Branch</button>
    <button id="F">Floyd</button>
    <button id="V">Viva</button>
    <button id="JD">John Dory</button>
  </div>
  <div class ="start">
    
    <button onclick="goToLobby()">PLAY</button>
  </div>
  <p> Pick a character and type out their lines as fast as you can. </p>

  <script>
    function goToLobby() {
        window.location.href = "{% url 'lobby' %}";
    }
    </script>
</body>
</html>