<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Troll Talk</title>
</head>
<body>
  <!--<img src="../../../trolltalk.png" alt="Troll Talk" class="flexImg">-->
  <br>
  <div class="buttons">
    <button id="P">Poppy</button>
    <button id="B">Branch</button>
    <button id="F">Floyd</button>
    <button id="V">Viva</button>
    <button id="JD">John Dory</button>
  </div>
  <div class ="start">
      <button id="play" onclick="window.location.href='{% url 'lobby' %}'">PLAY</button>
  </div>
  <p> Pick a character and type out their lines as fast as you can. </p>

</body>
</html>