{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styleHome.css">
    <title>Troll Talk</title>
</head>
<body>
<!--<img src="../../../trolltalk.png" alt="Troll Talk" class="flexImg">-->
  <br>
  <div class="trolls" style="--color: #59C9A5">
      <div class="troll">
        <div class="container-home">
          <div class="container-inner">
            <div class="circle">
              <!--<img id="Poppy" src="{% static 'images/Poppy.png' %}" alt="" width=400>-->
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <h1>Poppy</h1>
      </div>

    <div class="troll">
      <div class="container-home">
        <div class="container-inner">
          <div class="circle">
            <!--<img id="Branch" src="{% static 'images/Branch.png' %}" alt="" width=400>-->
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <h1>Branch</h1>

    </div>

    <div class="troll">
      <div class="container-home">
        <div class="container-inner">
          <div class="circle">
            <!--<img id="Floyd" src="{% static 'images/Floyd.png' %}" alt="" width="400">-->
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <h1>Floyd</h1>

    </div>

    <div class="troll">
      <div class="container-home">
        <div class="container-inner">
          <div class="circle">
            <!--<img id="Viva" src="{% static 'images/Viva.png' %}" alt="" width="400">-->
          </div>
        </div>
      </div>
      <div class="divider"></div>
        <h1>Viva</h1>

    </div>

    <div class="troll">
      <div class="container-home">
        <div class="container-inner">
          <div class="circle">
            <!--<img id="John" src="{% static 'images/John.png' %}" alt="" width="400" >-->
          </div>
        </div>
      </div>
      <div class="divider"></div>
        <h1>John Dory</h1>

    </div>
  </div>


  <div class="buttons">
    <button id="P">Poppy</button>
    <button id="B">Branch</button>
    <button id="F">Floyd</button>
    <button id="V">Viva</button>
    <button id="JD">John Dory</button>
  </div>
  <div class ="start">
    
    <button id="play" onclick="goToLobby()">PLAY</button>
  </div>
  <p> Pick a character and type out their lines as fast as you can. </p>

  <script>
    function goToLobby() {
        window.location.href = "{% url 'lobby' %}";
    }
    </script>
</body>
</html>
{% endblock %}