<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-default">
    	<div class="container-fluid">
      		<a class="navbar-brand" href="{% url 'lobby' %}">
				<img src="static/TrollTalk Logo.png" alt="" width="40" height="40">
			</a>
			<a class="navbar-brand" href="{% url 'lobby' %}">
                <h2>Troll Talk</h2>
            </a>
			<h2>{{request.user}}</h2>
			{% if request.user.is_authenticated %}
				<a href = "{% url 'logout-user' %}">Logout</a>
			{% endif %}
    	</div>
  	</nav>
	<h1>Game Lobby</h1>
    <h3>Chat with other players:</h3>
	<div class="chat__item__container" id="id_chat_item_container" style="font-size: 30px">
        <input type="text" id="id_message_send_input" />
        <button type="submit" id="id_message_send_button">Send Message</button>
	</div>

	

	

	<h3>Enter Lobby ID to Join:</h3>
    <input type="text" id="lobby_id_input" />
    <button onclick="joinLobby()">Join Lobby</button>

	<br/>
	<h2><a href="{% url 'create-lobby-page' %}">Create a Lobby</a></h2>
	

	Reload the page to refresh lobby list
	<h3>Choose a Lobby:</h3>
    <ul>
        {% for lobby in lobbies %}
			{% if lobby.privacy == 'public' %}
            	<!--<li><a href="{% url 'joinedLobby' lobby.id %}">{{ lobby.lobby_name }}----
					{{lobby.playersJoined}}/{{lobby.num_players}}----Game Mode: {{ lobby.game_mode }}</a></li>-->
					
				<li><button onclick="joinLobbyInList({{ lobby.id }})">{{ lobby.lobby_name }}----
					{{lobby.playersJoined}}/{{lobby.num_players}}----Game Mode: {{ lobby.game_mode }}</button></li>
			{% endif %}
        {% empty %}
            <li>No lobbies.</li>
        {% endfor %}
    </ul>

    

	<script>
	function joinLobbyInList(lobbyId) {
		console.log("join lobby with id " + lobbyId);
		increasePlayersJoined(lobbyId);


		window.location.href = `/joinedLobby/${lobbyId}/`;
    }

/*
	function joinLobby() {
		var lobbyId = document.getElementById("lobby_id_input").value;
		if (lobbyId) {
			// Using ajax make an async request to check if the lobby id exists in one of the lobby models
			var r = new XMLHttpRequest();
			r.open("GET", `/check_lobby/${lobbyId}/`, true);
			r.onreadystatechange = function () {
				if (r.readyState === 4) {
					if (r.status === 200) {
						// If the id exists in one of the models go to joined lobby page
						window.location.href = `/joinedLobby/${lobbyId}/`;
					} else {
						// If does not exist, use an alert to tell user that lobby with id not found
						alert("Lobby not found, ID does not exist. Try again.");
					}
				}
			};
        	r.send();
		}
	}*/
	// Tried using ajax and making an async request to check for the id, however this did not work
	// Using fetch instead
	// fetch code https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
	function joinLobby() {
		var lobbyId = document.getElementById("lobby_id_input").value;
		if (lobbyId) {
			// check in the view because all the model logic is in the python views
			var url = `/check_lobby/${lobbyId}/`;
			fetch(url)
			// Check for network error
			.then(response => {
				if (!response.ok) {
					throw new Error('Network error. Try again.');
				}
				return response.json();
			})
			// No network error, worked correctly
			.then(data => {
				// no network error, check happened correctly
				if (data.exists) {
					// If the id exists in one of the models go to joined lobby page
					
					increasePlayersJoined(lobbyId);


					window.location.href = `/joinedLobby/${lobbyId}/`;
				} else {
					// If does not exist, use an alert to tell user that lobby with id not found
					alert("Lobby not found, ID does not exist. Try again.");
				}
			})
			// else some error happened
			.catch(error => {
				alert("Fetch error. Try again.");
				console.error('Fetch error: ', error);
			});
		}
	}

	// Increase player count by 1
	// similar as checking if lobby id exists, call a function in views and fetch
	function increasePlayersJoined(lobbyId) {
		var url = `/increase_players_joined/${lobbyId}/`;
		fetch(url)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network error. Try again.');
				}
			})
			.catch(error => {
				console.error('Fetch error: ', error);
			});
	}


    // WebSocket Chat Code taken from https://www.geeksforgeeks.org/realtime-chat-app-using-django/
	//const chatSocket = new WebSocket("ws://" + window.location.host + "/");
	const websocketId = "lobby"; // Set the WebSocket ID
	const chatSocket = new WebSocket(`ws://${window.location.host}/ws/${websocketId}/`);
	chatSocket.onopen = function (e) {
		console.log("The connection was setup successfully!");
	};
	chatSocket.onclose = function (e) {
		console.log("Something unexpected happened!");
	};
	document.querySelector("#id_message_send_input").focus();
	document.querySelector("#id_message_send_input").onkeyup = function (e) {
		if (e.keyCode == 13) {
		document.querySelector("#id_message_send_button").click();
		}
	};
	document.querySelector("#id_message_send_button").onclick = function (e) {
		var messageInput = document.querySelector(
		"#id_message_send_input"
		).value;
		chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
	};
	chatSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		var div = document.createElement("div");
		div.innerHTML = data.username + " : " + data.message;
		document.querySelector("#id_message_send_input").value = "";
		document.querySelector("#id_chat_item_container").appendChild(div);
	};
	</script>
</body>
</html>
