
<!DOCTYPE html>
<html>
<body>
	<a class="navbar-brand" href="{% url 'homepage' %}">
        <img src="static/TrollTalk Logo.png" alt="" width="40" height="40">
    </a>
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <p>Troll Talk</p>
    </a>
    <p>{{request.user}}</p>
    {% if request.user.is_authenticated %}
        <a href = "{% url 'logout-user' %}">Logout</a>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Login</button>
        <p>Don't have an account?<a href="{% url 'signup' %}"> Register here</a></p>
    </form>
</body>
</html>